@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Source+Code+Pro&display=swap");

:root {
  --no-commits: #1e2529;
  --few-commits: #40187a;
  --regular-commits: #4b1394;
  --superb-commits: #610aca;
  --plusultra-commits: #7700ff;
  --red: rgb(236, 27, 72);
  --cream: rgb(255, 244, 223);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amatic";
  background-color: #131618;
}

.container {
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-family: "Source Code Pro";
  color: white;
  font-size: 3.5vw;
  text-align: center;
  margin-top: 24px;
}

#calendar {
  margin: 24px auto;
  width: 80vw;
  max-width: 1000px;
}

.initday {
  margin: 10px auto;
  color: var(--plusultra-commits);
  font-size: 4vw;
  font-family: "Amatic SC";
  width: 100%;
  text-align: center;
}

.deadlines {
  margin: 0 auto;
  width: 60vw;
}

.deadline {
  width: 5vw;
  height: 5vw;
  color: var(--cream);
  margin: 0 4vw;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

.deadline-format > h4 {
  font-size: 4vw;
  font-family: "Source Code Pro";
  border: solid 2px var(--plusultra-commits);
  width: 10vw;
  padding: 2vh 0;
  text-align: center;
}

.deadline-format > span {
  font-family: "Amatic SC";
}

.challenge-date {
  color: var(--plusultra-commits);
  font-family: "Amatic SC";
  font-size: 4vw;
  margin: 10px auto;
  text-align: center;
}

.day {
  border: solid 1px black;
  border-radius: 5%;
  padding-top: 13%;
  width: 13%;
  display: inline-block;
  margin: 0.2% 0.5%;
  transition-duration: 0.3s;
  cursor: pointer;
}

.day:hover {
  transform: scale(1.1);
}

.no-commits {
  background-color: var(--no-commits);
}

.few-commits {
  background-color: var(--few-commits);
}

.regular-commits {
  background-color: var(--regular-commits);
}

.superb-commits {
  background-color: var(--superb-commits);
}

.plusultra-commits {
  background-color: var(--plusultra-commits);
}
