@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Source+Code+Pro&display=swap");

:root {
  --no-commits: #1e2529;
  --few-commits: #40187a;
  --regular-commits: #4b1394;
  --superb-commits: #610aca;
  --plusultra-commits: #7700ff;
  --red: rgb(236, 27, 72);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131618;
}

.container {
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-family: "Source Code Pro";
  color: white;
  font-size: 3.5vw;
  text-align: center;
  margin-top: 24px;
}

#calendar {
  margin: 24px auto;
  width: 80vw;
  max-width: 1000px;
}

.initday {
  margin: 10px auto;
  color: var(--plusultra-commits);
  font-size: 4vw;
  font-family: "Amatic SC";
  width: 100%;
  text-align: center;
}

.deadlines {
  margin: 0 auto;
  width: 60vw;
}

.deadline {
  width: 5vw;
  height: 5vw;
  color: var(--white);
  margin: 0 4vw;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

.deadline-format > h4 {
  font-size: 4vw;
  font-family: "Source Code Pro";
  border: solid 2px var(--plusultra-commits);
  width: 10vw;
  padding: 2vh 0;
  text-align: center;
}

.deadline-format > span {
  font-family: "Amatic SC";
}

.challenge-date {
  color: var(--plusultra-commits);
  font-family: "Amatic SC";
  font-size: 4vw;
  margin: 10px auto;
  text-align: center;
}

.day {
  border: solid 1px black;
  border-radius: 5%;
  padding-top: 13%;
  width: 13%;
  display: inline-block;
  margin: 0.2% 0.5%;
  transition-duration: 0.3s;
  cursor: pointer;
}

.day:hover {
  transform: scale(1.1);
}

.no-commits {
  background-color: var(--no-commits);
}

.few-commits {
  background-color: var(--few-commits);
}

.regular-commits {
  background-color: var(--regular-commits);
}

.superb-commits {
  background-color: var(--superb-commits);
}

.plusultra-commits {
  background-color: var(--plusultra-commits);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--white);
  margin: 15% auto; /* 15% from the top and centered */
  border: 10px solid var(--plusultra-commits);
  border-radius: 5px;
  width: 80%; /* Could be more or less, depending on screen size */
  font-family: "Source Code Pro";
}

.modal-content a {
  color: var(--plusultra-commits);
  text-decoration: none;
}

.modal-header {
  height: 10vw;
  background-color: var(--plusultra-commits);
  padding: 10px;
}

.modal-header h2 {
  float: left;
  color: white;
  font-size: 3vw;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 10px;
}

.commit {
  margin: 12px 0;
}

.col {
  float: left;
  width: 70%;
}

.col:first-child {
  width: 220px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.rainbow-text {
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  background-clip: text;
}

.rainbow-text:hover {
  color: transparent;
  animation: slidebg 0.5s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
